{% extends 'layouts/layout-admin.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
	<div class="admin__page__title">
		<h1>Suppresion d'un demandeur</h1>
	</div>
	<div class="admin__page__content">
		<h3 style="margin-bottom: 2rem">
			Êtes-vous sûr de vouloir supprimer le demandeur
			{{ dem.nom }} {{ dem.prenom }} ?
		</h3>
		<div class="admin__demandeur">
			<div class="admin__inter__head admin__demandeur__head">
				<div class="admin__inter__noms-head">
					Nom (login)
				</div>
				<div class="admin__inter__spe-head">
					Email
				</div>
				<div class="admin__inter__adresse-head">
					Adresse
				</div>
				<div class="admin__inter__adresse-head">
					Téléphone
				</div>

			</div>
			<div class="admin__inter__item admin__demandeur__item">
				<div class="admin__inter__noms">
					{{ dem.nom }} {{ dem.prenom }} <br><br> ({{ dem.login }})
				</div>
				<div class="admin__inter__spe">
					{{ dem.email }}
				</div>
				<div class="admin__inter__adresse">
					{{ dem.adresse }}<br> {{ dem.ville.codePostal }} {{ dem.ville.nom }}
				</div>
				<div class="admin__inter__phone">
					{{ dem.telephone }}
				</div>
				<form class="admin__inter__delete" action="?action=delete-demandeur" method="post">
					<input type="hidden" name="id" value="{{ id }}">
					<button type="submit" class="btn btn-secondary-nb" style="margin: 1rem auto">
						<i class="icon-fi-rr-trash"></i>
						Supprimer
					</button>
				</form>
			</div>
		</div>

	</div>
{% endblock %}