{% extends 'layouts/layout-admin.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
	<div class="admin__page__title">
			<h1>{{ title }}</h1>
			<p>
				Veuillez trouver ci-dessous la liste des intervenants à valider.
			</p>
	</div>
	<div class="admin__page__content">
		<div class="admin__inter">
			<div class="admin__inter__head">
				<div class="admin__inter__img-head">
					#
				</div>
				<div class="admin__inter__noms-head">
					Nom (email)
				</div>
				<div class="admin__inter__spe-head">
					Spécialité(s)
				</div>
				<div class="admin__inter__adresse-head">
					Téléphone
				</div>
				<div class="admin__inter__actions-head">
					Action
				</div>
			</div>
			{% for int in intervenants %}
				<div class="admin__inter__item">
					<div class="admin__inter__img">
						<img src="../{{ int.imgUrl }}" alt="{{ int.nom }} {{ int.prenom }}">
					</div>
					<div class="admin__inter__noms">
						{{ int.nom }} {{ int.prenom }}
						<br><br>
						({{ int.email }})
					</div>
					<div class="admin__inter__spe">
						{% for spe in int.specialites %}
							• {{ spe.libelle }}
							<br>
						{% endfor %}
					</div>
					<div class="admin__inter__adresse">
						{{ int.telephone }}
					</div>
					<div class="admin__forms__flex">
						<form class="admin__inter__actions" method="post" action="./?action=validate-application">
							<input type="hidden" name="id" value="{{ int.idDemandeur }}" hidden>
							<button class="btn-greenPrimary btn btn-secondary-nb">
								<i class="icon-fi-rr-comment-check"></i>
								<span class="text__small text__white">Valider</span>
							</button>
						</form>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}