<section class="popup popup-prendreRDV">
    <i class="cross"></i>

    <section class="popup-container">
        <h1 class="text__underline-light">Prendre un RDV</h1>
        <form method="post" action="?action=confirm-RDV">
            <div class="popup-container-col">
                <div class="prendreRdv__content__body__card-img">
                    <img class="pdp" src="assets/img/profils/exemple_doctor.jpg" alt="User">
                </div>
                <div class="prendreRdv__content__body__card-info">
                    <p class="name">{{ intervenant.nom }} {{ intervenant.prenom }}</p>
                    <p class="speciality">
                        {% for specialite in intervenant.specialites %}
                            <span>{{ specialite.libelle }}</span>
                        {% endfor %}
                    </p>
                    <p class="address">{{ intervenant.ville.nom }} ({{ intervenant.ville.codePostal }})</p>
                </div>
                <div id="js-date" class="popup-container-col__date"></div>
                <div class="popup-container-col__form">
                    <div class="input-container">
                        <i class="icon icon-fi-rr-time-fast "></i>
                        <input id="inputDate" class="input" type="hidden" name="date">
                        <input class="input" type="hidden" name="idIntervenant" value="{{ intervenant.idDemandeur }}">
                        <select id="selectHoraire" class="input" type="text" name="horaire" required></select>
                        <label class="input-container-title label" for="selectHoraire">
                            <span>Choisir un <span class="primary">horaire :</span></span>
                        </label>
                    </div>
                    <div class="input-container">
                        <i class="icon icon-fi-rr-list"></i>
                        <select id="selectSpecialite" class="input" type="text" name="specialite" required>
                            <option value="" selected hidden="hidden"> </option>
                            {% for specialite in intervenant.specialites %}
                                <option value="{{ specialite.idSpecialite }}">{{ specialite.libelle }}</option>
                            {% endfor %}
                        </select>
                        <label class="input-container-title label" for="selectHoraire"><span>Choisir la <span
                                        class="primary">spécialité :</span></span></label>
                    </div>
                </div>
            </div>

            <button id="js-btn-prendreRDV" class="btn btn-primary-nb" type="submit">
                <i class="icon-w icon-fi-rr-time-add"></i>
                <span>Prendre RDV</span>
            </button>
        </form>
    </section>

</section>