{% extends "base.twig" %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	<div class="sample wrapper">
		<h1>Médecin : <span class="text__light">{{ int.nom }} {{ int.prenom }}</span></h1>
		<div class="sample__container">
			<div class="sample__content profile">
				<div class="profile__infos">
					<div class="profile__infos-img">
						<img src="assets/img/profils/exemple_doctor.jpg" alt="User">
					</div>
					<div class="profile__infos-content">
						<p class="profile__infos-adr">
							<span class="text__bold">Adresse :</span> {{ int.adressePro }}<br>
						</p>
						<p class="profile__infos-adr">
							<span class="text__bold">Ville :</span> {{ int.ville.nom }} - <span class="text__primary text__bold">{{ int.ville.codePostal }}</span>
						</p>
						<h3 class="profile__infos-spe">
							Specialité(s) exercée(s) :
						</h3>
						<ul class="profile__infos-spelist">
							{% for spe in int.specialites %}
								<li class="profile__infos-speitem">
									{{ spe.libelle }}
								</li>
							{% endfor %}
						</ul>
						<h3 class="profile__infos-spe">
							Avis reçus :
						</h3>
						<ul class="profile__infos-spelist">
						</ul>
						<div class="profile__infos-contact">
							<a href="mailto:{{ int.email }}" class="btn btn-primary-nb">
								<i class="icon-fi-rr-envelope"></i>
								Contacter
							</a>
							<a href="tel:{{ int.telephone }}" class="btn btn-greenPrimary">
								<i class="icon-fi-rr-phone-call"></i>
								Appeler
							</a>
						</div>
					</div>
				</div>
				<div class="profile__gmap">
				</div>
			</div>
		</div>
	</div>
{% endblock %}