<table class="noteFrais__table">
    <thead>
    <tr>
        <td>Motif <br/> Source</td>
        <td>Date</td>
        <td>Statut</td>
        <td>Créée</td>
        <td>Justificatif <br/> Commentaire</td>
        <td>Montant <br/> en € </td>
    </tr>
    </thead>
    <tbody>
    <tr class="noteFrais__table--title">
        <td colspan="6">
            <div class="noteFrais__table--title__content">
                <span>{{ depenses.Atraiter|length }}</span>
                <p>À traiter</p>
            </div>
        </td>
    </tr>


    {% for depense in depenses.Atraiter %}
        <tr class="noteFrais__table__content--Atraiter">
            <td>{{ depense.nature }} <br/> {{ depense.fournisseur }}</td>
            <td>{{ depense.datePaiement }}</td>
            <td class="noteFrais__table__content--tag noteFrais__table__content--Atraiter__tag">
                <span>{{ depense.status }}</span>
            </td>
            {% if depense.dateCreation|date("d/m/Y") == "now"|date("d/m/Y") %}
                <td>Aujourd'hui</td>
            {% elseif depense.dateCreation|date("d/m/Y") == "now"|date_modify("-1 day")|date("d/m/Y") %}
                <td>Hier</td>
            {% else %}
                <td>{{ depense.dateCreation|date("d/m/Y") }}</td>
            {% endif %}
            <td class="noteFrais__table__content--comment">
                <div class="icon-container">
                    <i class="icon icon-fi-rr-link"></i>
                    <div class="noteFrais__table__content--comment__message">
                        <img src="https://picsum.photos/200/300" alt="justificatif">
                    </div>
                </div>
                <div class="icon-container">
                    <i class="icon icon-fi-rr-comment"></i>
                    <div class="noteFrais__table__content--comment__message">
                        <p class="tooltip-content">{{ depense.commentaire }}</p>
                    </div>
                </div>
            </td>
            <td>{{ depense.montant }}€</td>
        </tr>
    {% endfor %}

    <tr class="noteFrais__table--title">
        <td colspan="6">
            <div class="noteFrais__table--title__content">
                <span>{{ depenses.Adeclarer|length }}</span>
                <p>À déclarer</p>
            </div>
        </td>
    </tr>
    {% for depense in depenses.Adeclarer %}
        <tr class="noteFrais__table__content--Adeclarer">
            <td>{{ depense.nature }} <br/> {{ depense.fournisseur }}</td>
            <td>{{ depense.datePaiement }}</td>
            <td class="noteFrais__table__content--tag noteFrais__table__content--Adeclarer__tag">
                <span>{{ depense.status }}</span>
            </td>
            {% if depense.dateCreation|date("d/m/Y") == "now"|date("d/m/Y") %}
                <td>Aujourd'hui</td>
            {% elseif depense.dateCreation|date("d/m/Y") == "now"|date_modify("-1 day")|date("d/m/Y") %}
                <td>Hier</td>
            {% else %}
                <td>{{ depense.dateCreation|date("d/m/Y") }}</td>
            {% endif %}
            <td class="noteFrais__table__content--comment">
                <div class="icon-container">
                    <i class="icon icon-fi-rr-link"></i>
                    <div class="noteFrais__table__content--comment__message">
                        <img src="https://picsum.photos/200/300" alt="justificatif">
                    </div>
                </div>
                <div class="icon-container">
                    <i class="icon icon-fi-rr-comment"></i>
                    <div class="noteFrais__table__content--comment__message">
                        <p class="tooltip-content">{{ depense.commentaire }}</p>
                    </div>
                </div>
            </td>
            <td>{{ depense.montant }}€</td>
        </tr>
    {% endfor %}

    </tbody>
</table>


{# <section> #}
{#    {% for depense in depenses %} #}
{#        <p> #}
{#            {{ depense.description }} #}
{#        </p> #}
{#    {% endfor %} #}
{# </section> #}