<section class="notefrais">
    <h2 class="myaccount__form-title">Situation financière</h2>
    <div class="notefrais--situation">
        <p class="notefrais--situation__title" >Remboursements en attente</p>
        <p class="notefrais--situation__total">{{ TotalRemboursementsEnAttente }} €</p>
    </div>

    <h2 class="myaccount__form-title notefrais--titleFilter">
        <p class="notefrais--titleTable">Notes de frais</p>
        <select class="notefrais--selectStatus" id="noteFrais-filter"  name="status">
            <option value="all">Tous les statuts</option>
            <option value="En attente">En attente</option>
            <option value="Validée">Validée</option>
            <option value="Refusée">Refusée</option>
            <option value="Payée">Payée</option>
        </select>
    </h2>

    <table class="notefrais__table" id="noteFrais-table-filter" >
        <thead>
        <tr>
            <td>N°</td>
            <td>Date</td>
            <td>Montant</td>
            <td>Statut</td>
        </tr>
        </thead>
        <tbody>
        {% for note in noteFrais %}
            <tr>
                <td>{{ note.idNoteFrais }}</td>
                <td>{{ note.dateNote|date('d/m/Y') }}</td>
                <td>{{ note.montantTotal }}€</td>
                <td class="notefrais--status" >{{ note.status|capitalize }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>