{% extends "base.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="sample__container -search wrapper">
        <h1>Recherche d'un praticien</h1>
        <form method="get">
            <section class="search__inputs">
                <input type="hidden" name="action" value="search">
                <div class="input-container">
                    <i class="icon icon-fi-rr-search"></i>
                    <input id="name" class="input" name="s_name" type="text" value="{{ nom }}"/>
                    <label class="label" for="name">Nom, spécialité</label>
                </div>
                <div class="input-container">
                    <i class="icon icon-fi-rr-map-marker"></i>
                    <input id="city" class="input AC input_ville" name="s_city" type="text" value="{{ city }}"/>
                    <label class="label" for="city">Ville</label>
                    <div class="notVisible auto_completion"></div>
                    <span class="code_postal"></span>
                </div>
                <button type="submit" class="btn btn-primary-nb">Rechercher</button>
            </section>
        </form>

        <section class="search__contents">
            {% if nom is not empty and city is not empty %}
                <h2>Résultats pour la recherche :
                    <span class="text__light">
				"{{ nom }}"
			</span>&nbsp;
                    Ville : <span class="text__light">
				"{{ city }}"
			</span>
                </h2>
            {% else %}
                {% if intervenants is not empty %}
                    <h2>Liste des intervenants :</h2>
                {% endif %}
            {% endif %}

            <div class="search__contents-list">
                {% if intervenants is not empty %}
                    {% for intervenant in intervenants %}
                        <div class="search__contents-user" >
                            <div class="search__contents-user-img">
                                <a href="?action=profile&id={{ intervenant.idDemandeur }}">
                                    <img src="{{ intervenant.imgUrl }}" alt="User">
                                </a>
                            </div>
                            <div class="search__contents-user-info">
                                <div class="search__contents-user-name">
                                    <p class="title">
                                        Nom
                                    </p>
                                    <p class="desc">
                                        {{ intervenant.nom }} {{ intervenant.prenom }}
                                    </p>
                                </div>
                                <div class="search__contents-user-speciality">
                                    <p class="title">
                                        {% if intervenant.specialites|length > 1 %}
                                            Spécialités
                                        {% else %}
                                            Spécialité
                                        {% endif %}
                                    </p>
                                    <ul class="desc">
                                        {% for spe in intervenant.specialites %}
                                            <li>
                                                {{ spe.libelle }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="search__contents-user-city">
                                    <p class="title">
                                        Ville de pratique
                                    </p>
                                    <p class="desc">
                                        {{ intervenant.villePro.nom }} ({{ intervenant.villePro.codePostal }})
                                    </p>
                                </div>
                            </div>
                            <div class="search__contents-user-btn">
                                <a data-id="{{ intervenant.idDemandeur }}" href="#" class="btn btn-primary js-btn-RDV">
                                    {% include "svg/plus_small_white.svg" %}
                                    Prendre rendez-vous</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="search__notfound">
                        <div class="search__notfound-img">
                            {% include 'svg/not_found.svg' %}
                        </div>
                        <h3>Aucun médecin trouvé avec les champs donnés !</h3>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>

{% endblock %}
