{% extends "base.twig" %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	<form method="get">
		<section class="search__inputs">
			<input type="hidden" name="action" value="search">
			<div class="input-container">
				<i class="icon icon-fi-rr-search"></i>
				<input id="name" class="input" name="s_name" type="text" required value="{{ nom }}"/>
				<label class="label" for="name">Nom, spécialité</label>
			</div>
			<div class="input-container">
				<i class="icon icon-fi-rr-map-marker"></i>
				<input id="city" class="input AC input_ville" name="s_city" type="text" required value="{{ city }}"/>
				<label class="label" for="city">Ville</label>
				<div class="notVisible auto_completion"></div>
			</div>
			<button type="submit" class="btn btn-primary-nb">Rechercher</button>
		</section>
	</form>

	<section class="search__contents">
		<h2>Résultats pour la recherche : <span class="text__light">"{{ nom }}"</span>&nbsp;Ville : <span
					class="text__light">"{{ city }}"</span></h2>

		<div class="search__contents-list">
			{% if demandeurs is not empty %}
				{% for demandeur in demandeurs %}
					<div class="search__contents-user">
						<div class="search__contents-user-img">
							<img src="assets/img/profils/exemple_doctor.jpg" alt="User">
						</div>
						<div class="search__contents-user-info">
							<div class="search__contents-user-name">
								<p class="title">
									Nom
								</p>
								<p class="desc">
									{{ demandeur.nom }} {{ demandeur.prenom }}
								</p>
							</div>
							<div class="search__contents-user-speciality">
								<p class="title">
									Spécialité
								</p>
								<p class="desc">
									{{ demandeur.telephone }}
								</p>
							</div>
							<div class="search__contents-user-city">
								<p class="title">
									Ville
								</p>
								<p class="desc">
									{{ demandeur.adresse }}
								</p>
							</div>
						</div>
						<div class="search__contents-user-btn">
							<a href="#" class="btn btn-primary">
								{% include "svg/plus_small_white.svg" %}
								Prendre rendez-vous</a>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<p>Aucun médecin trouvé avec les champs données !</p>
			{% endif %}
		</div>
	</section>
{% endblock %}
