{% extends "base.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="sample__container -search wrapper">
        <h1>Recherche d'un praticien</h1>
        <form method="get">
            <section class="search__inputs">
                <input type="hidden" name="action" value="search">
                <div class="input-container">
                    <i class="icon icon-fi-rr-search"></i>
                    <input id="name" class="input" name="s_name" type="text" value="{{ nom }}"/>
                    <label class="label" for="name">Nom, spécialité</label>
                </div>
                <div class="input-container">
                    <i class="icon icon-fi-rr-map-marker"></i>
                    <input id="city" class="input AC input_ville" name="s_city" type="text" value="{{ city }}"/>
                    <label class="label" for="city">Ville</label>
                    <div class="notVisible auto_completion"></div>
                    <span class="code_postal"></span>
                </div>
                <button type="submit" class="btn btn-primary-nb">Rechercher</button>
            </section>
        </form>

        <section class="search__contents">
            {% if nom is not empty and city is not empty %}
                <h2>Résultats pour la recherche :
                    <span class="text__light">
				"{{ nom }}"
			</span>&nbsp;
                    Ville : <span class="text__light">
				"{{ city }}"
			</span>
                </h2>
            {% else %}
                {% if intervenants is not empty %}
                    <h2>Liste des intervenants :</h2>
                {% endif %}
            {% endif %}

            <div class="search__contents-list">
                {% if intervenants is not empty %}
                    {% for intervenant in intervenants %}
                        <div class="search__contents-user" >
                            <div class="search__contents-user-img">
                                <a href="?action=profile&id={{ intervenant.idDemandeur }}">
                                    <img src="{{ intervenant.imgUrl }}" alt="User">
                                </a>
                                {% if intervenant.note is not empty %}
                                    <div class="search__contents-user-note">
                                        {{ intervenant.note }}
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_179_3118)">
                                                <path d="M0.773952 7.23335L2.85062 8.75002L2.06195 11.1924C1.9345 11.5712 1.93289 11.9811 2.05735 12.3609C2.18181 12.7407 2.42569 13.0701 2.75262 13.3C3.07395 13.5373 3.46335 13.6644 3.86279 13.6624C4.26224 13.6604 4.65034 13.5294 4.96929 13.2889L6.99987 11.7944L9.03104 13.2872C9.35178 13.5231 9.73908 13.6513 10.1373 13.6532C10.5354 13.6551 10.924 13.5308 11.247 13.298C11.57 13.0652 11.8109 12.736 11.935 12.3576C12.0592 11.9793 12.0601 11.5713 11.9378 11.1924L11.1491 8.75002L13.2258 7.23335C13.5461 6.99914 13.7842 6.6697 13.9062 6.29208C14.0281 5.91445 14.0275 5.50796 13.9046 5.13066C13.7817 4.75336 13.5427 4.42455 13.2217 4.19121C12.9008 3.95786 12.5143 3.83191 12.1175 3.83135H9.56654L8.79245 1.41868C8.67072 1.03891 8.43153 0.707606 8.10935 0.472552C7.78718 0.237499 7.39867 0.11084 6.99987 0.11084C6.60106 0.11084 6.21256 0.237499 5.89039 0.472552C5.56821 0.707606 5.32901 1.03891 5.20729 1.41868L4.4332 3.83135H1.88462C1.4878 3.83191 1.10131 3.95786 0.780357 4.19121C0.4594 4.42455 0.220392 4.75336 0.0974725 5.13066C-0.0254471 5.50796 -0.0259911 5.91445 0.0959181 6.29208C0.217827 6.6697 0.455954 6.99914 0.776285 7.23335H0.773952Z" fill="#D6AC41"/>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_179_3118">
                                                    <rect width="14" height="14" fill="white"/>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="search__contents-user-info">
                                <div class="search__contents-user-name">
                                    <p class="title">
                                        Nom
                                    </p>
                                    <p class="desc">
                                        {{ intervenant.nom }} {{ intervenant.prenom }}
                                    </p>
                                </div>
                                <div class="search__contents-user-speciality">
                                    <p class="title">
                                        {% if intervenant.specialites|length > 1 %}
                                            Spécialités
                                        {% else %}
                                            Spécialité
                                        {% endif %}
                                    </p>
                                    <ul class="desc">
                                        {% for spe in intervenant.specialites %}
                                            <li>
                                                {{ spe.libelle }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="search__contents-user-city">
                                    <p class="title">
                                        Ville de pratique
                                    </p>
                                    <p class="desc">
                                        {{ intervenant.villePro.nom }} ({{ intervenant.villePro.codePostal }})
                                    </p>
                                </div>
                            </div>
                            <div class="search__contents-user-btn">
                                <a data-id="{{ intervenant.idDemandeur }}" href="#" class="btn btn-primary js-btn-RDV">
                                    {% include "svg/plus_small_white.svg" %}
                                    Prendre rendez-vous</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="search__notfound">
                        <div class="search__notfound-img">
                            {% include 'svg/not_found.svg' %}
                        </div>
                        <h3>Aucun médecin trouvé avec les champs donnés !</h3>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>

{% endblock %}
