<section class="myaccount__form" id="form">
    {% if user is defined and not user.isIntervenant() %}
        <form method="post" action="?action=upgrade-to-intervenant">
            <h2 class="myaccount__form-title">Devenir intervenant</h2>
            <p class="myaccount__form-subtitle">Choisissez vos domaines de compétences :</p>
            <div class="myaccount__form__intervenant">
                <div class="myaccount__form__intervenant__item">
                    <div class="input-container overflow">
                        <i class="icon icon-fi-rr-doctor"></i>
                        <input id="specialite" class="input AC input_specialite" type="text"/>
                        <label class="label" for="specialite">Vos spécialités</label>
                        <div class="notVisible auto_completion"></div>
                        <input id="hiddenValueSpecialites" type="hidden" name="specialites" value="null">
                    </div>
                </div>
                <div class="myaccount__form__intervenant__item">
                    <div class="input-container">
                        <i class="icon icon-fi-rr-home-location-alt"></i>
                        <input id="adressePro" class="input" type="text" name="addressPro" required/>
                        <label class="label" for="adressePro">Adresse Professionnel</label>
                    </div>
                </div>
                <div class="myaccount__form__intervenant__item">
                    <div id="tag-container">
                        <p>Vos choix :</p>
                        <div class="container"></div>
                    </div>
                </div>
                <div class="myaccount__form__intervenant__item">
                    <div class="input-container overflow">
                        <i class="icon icon-fi-rr-map-marker"></i>
                        <input id="ville" class="input AC input_ville" type="text" required/>
                        <label class="label" for="ville">Ville</label>
                        <input id="hiddenValueCityIntervenant" name="city" type="number" hidden="hidden"/>
                        <div class="notVisible auto_completion"></div>
                        <span class="code_postal"></span>
                    </div>
                </div>
            </div>
            {% if message is not empty and containerMessage is not empty and containerMessage == "mon-compte" %}
                <p class="error">{{ message }}</p>
            {% endif %}
            <button class="btn btn-primary" type="submit">
                <i class="icon-w icon-fi-rr-check"></i>
                Postuler en tant que praticien
            </button>
        </form>
    {% else %}
        {% if user.isIntervenant() %}
            <form method="post" action="?action=update-intervenant">
                <h2 class="myaccount__form-title">Mes informations professionnelle</h2>
                <p class="myaccount__form-subtitle">Choisissez vos domaines de compétences :</p>
                <div class="myaccount__form__intervenant">
                    <div class="myaccount__form__intervenant__item">
                        <div class="input-container overflow">
                            <i class="icon icon-fi-rr-doctor"></i>
                            <input id="specialite" class="input AC input_specialite" type="text"/>
                            <label class="label" for="specialite">Vos spécialités</label>
                            <div class="notVisible auto_completion"></div>
                            {% set ids = [] %}
                            {% for specialite in user.specialites %}
                                {% set ids = ids|merge([specialite.idSpecialite]) %}
                            {% endfor %}
                                <input id="hiddenValueSpecialites" type="hidden" name="specialites" value="{{ ids|join("-") }}">
                        </div>
                    </div>
                    <div class="myaccount__form__intervenant__item --choices">
                        <div id="tag-container" class="js-specialite">
                            <p>Vos choix :</p>
                            <div class="container">
                                {% for specialite in user.specialites %}
                                    <div class="tag" data-id="{{ specialite.idSpecialite }}">
                                        <span class="tag-text">{{ specialite.libelle|upper }}</span>
                                        <i class="icon icon-fi-rr-cross-small tag-close"></i>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="myaccount__form__intervenant__item">
                        <div class="input-container">
                            <i class="icon icon-fi-rr-text"></i>
                            <input id="adressePro" class="input" type="text" name="adressePro"
                                   value="{{ user.adressePro }}" required/>
                            <label class="label" for="adressePro">Adresse Professionnel</label>
                        </div>
                    </div>
                    <div class="myaccount__form__intervenant__item">
                        <div class="input-container overflow">
                            <i class="icon icon-fi-rr-map-marker"></i>
                            <input id="villeIntervenantUpdate" class="input AC input_ville" type="text"
                                   value="{{ user.villePro.nom|upper }}"/>
                            <label class="label" for="villeIntervenantUpdate">Ville Professionnel</label>
                            <input name="city" type="number" hidden="hidden" value="{{ user.villePro.idVille }}"/>
                            <div class="notVisible auto_completion"></div>
                            <span class="code_postal">{{ user.villePro.codePostal }}</span>
                        </div>
                    </div>
                </div>
                <h2 class="myaccount__form-title">Sécurité</h2>
                <div class="myaccount__form__perso__security">
                    <div class="input-container">
                        <i class="icon icon-fi-rr-key"></i>
                        <input id="oldMdpIntervenant" name="oldPassword" class="input" type="password" required/>
                        <label class="label" for="oldMdpIntervenant">Mot de passe</label>
                        <i class="icon icon-fi-rr-eye-crossed js-iconEyePassword"></i>
                    </div>
                </div>
                {% if message is not empty and containerMessage is not empty and containerMessage == "mon-compte" %}
                    <p class="error">{{ message }}</p>
                {% endif %}
                <button class="btn btn-primary" type="submit">
                    <i class="icon-w icon-fi-rr-check"></i>
                    Enregistrer les modifications
                </button>
            </form>
        {% endif %}
    {% endif %}
</section>


